main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffea00;
  min-height: 100vh;
}
.header-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-bottom: 10px solid #000;
}

.header-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.front-display {
  display: flex;
  justify-content: space-between;
  padding: 100px clamp(15px, 8vw, 150px);
  width: 100%;
}

.frontpage-part {
  margin-bottom: 50px;
  max-width: 800px;
}

.frontpage-part h3 {
  font-size: 50px;
}

.frontpage-part p {
  font-size: 30px;
}

h2.main-header {
  font-size: 120px;
}

.main-slogan {
  font-size: 45px;
  font-weight: bolder;
}

.news-article {
  max-width: 400px;
  margin: 5px 0px 45px 0px;
  transition: all ease-out 0.5s;
}

.news-article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 5px;
}

.newsHeader {
  text-decoration: none;
  color: #000;
}

.newsHeader:hover {
  text-decoration: underline;
}
.newsHeader h2 {
  font-size: 70px;
}
.read-button {
  cursor: pointer;
  font-size: 25px;
  text-align: right;
  font-weight: 600;
  margin-top: 5px;
}

@media (max-width: 1600px) {
  .frontpage-part {
    max-width: 500px;
  }
  .frontpage-part h2 {
    font-size: 80px;
  }
  .news-article {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .news-article h3 {
    height: 25px;
    margin-bottom: 10px;
  }
  .news-article img {
    height: 150px;
  }
  .news-article p {
    font-size: 18px;
  }
}
@media (max-width: 1050px) {
  .front-display {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .frontpage-part {
    max-width: 500px;
    width: 100%;
  }
  .frontpage-part h2 {
    font-size: clamp(40px, 15vw, 80px);
  }
  .frontpage-part .main-slogan {
    font-size: clamp(25px, 10vw, 35px);
  }
  .frontpage-part h3 {
    font-size: clamp(25px, 10vw, 35px);
  }

  .frontpage-part p {
    font-size: 20px;
  }
  .news-article {
    max-width: 500px;
    margin-bottom: 20px;
  }
  .news-article h3 {
    height: 25px;
    margin-bottom: 10px;
  }
  .news-article img {
    height: 150px;
  }
  .news-article p {
    font-size: 18px;
  }
  .header-image {
    height: clamp(150px, 50vw, 500px);
  }
  .header-image img {
    height: 100%;
  }
}
