main {
  background-color: #ffea00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex-row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: #ff0000;
}

.product-images {
  display: flex;
  justify-content: flex-start;
}
.thumbnails {
  overflow-y: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow-x: hidden;
}
.thumbnails img {
  width: 100px;
  display: block;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
}

.thumbnails::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.thumbnails::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.thumbnails::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #404040;
}


.main-image {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.main-image-holder {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  transition: 1s ease-in-out all;
}

.main-image-img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  object-position: center;
}
.product-about {
  min-height: 500px;
  min-width: 600px;
}
select {min-width: 150px;}

.button-design {
  background-color: #00000000;
  border: solid #000 5px;
  padding: 3px 15px;
  cursor: pointer;
  width: fit-content;
}
.button-design:hover {
  background-color: #fff;
}
