main {
  background-color: #ffea00;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: #ff0000;
}

.product-images {
  display: flex;
  justify-content: flex-start;
}
.thumbnails {
  overflow-y: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 500px;
  overflow-x: hidden;
}
.thumbnails img {
  width: 100px;
  display: block;
  object-fit: cover;
  object-position: center;
  flex-grow: 1;
}

.main-image {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.main-image-holder {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  transition: 1s ease-in-out all;
}

.main-image-img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  object-position: center;
}
.product-about {
  min-height: 500px;
  min-width: 600px;
}


option:hover {
  background-color: #ff0000;
}
