main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #ffea00;
  min-height: 100vh;
}
.flex-div-row {
  display: flex;
  justify-content: space-between;
  padding: 100px clamp(15px, 8vw, 150px);
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
.flex-div-row-np {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
  flex-wrap: nowrap;
  flex-direction: row;
  border-top: 3px solid #000;
}

.flex-div-row-np p {
  cursor: pointer;
}
.flex-div-row-np p:hover {
  text-decoration: underline;
}

.main-section-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  gap: 25px;
  justify-content: center;
}
.news-reader {
  width: clamp(280px, 40vw, 800px);
  overflow: hidden;
}

.news-reader img {
  width: 100%;
  height: clamp(300px, 50vw,450px);
  object-fit: cover;
  object-position: center;
}

.news-list-article {
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.news-structure {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 70%;
}

.news-list-article img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.news-timestamp{
  font-size: 15px;
}
@media (max-width: 900px) {
  .flex-div-row {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    padding: 100px clamp(15px, 8vw, 150px);
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }
  .news-structure {
    flex-direction: column;
    
  }
  .news-reader {
    width: 100%;
  }
  .main-section-column {
    width: 100%;
  }
}
