main {
  background-color: #ffea00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
}
.flex-row {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
}

.flex-row .checkout-half {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear-cart {
  background-color: #00000000;
  border: solid #000 5px;
  padding: 3px 15px;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
}

.clear-cart:hover {
  background-color: #fff;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.checkout-form input,
.checkout-form select {
  width: 100%;
}
.checkout-form label {
  margin-bottom: 10px;
}

.discount-form {
  margin-bottom: 100px;
}

table {
  text-align: left;
  border-spacing: 0px;
}
th {
  font-weight: bold;
  border-bottom: 2px solid #000;
}
td {
  padding: 5px 3px;
}

td span svg {
  cursor: pointer;
}

th:last-of-type,
td:last-of-type {
  text-align: right;
  border-left: #000 solid 1px;
}

.checkout-buttons {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

input[type="button"] {
  border: #000 5px solid;
  background-color: #ffea00;
  padding: 3px 15px;
  font-size: 20px;
  cursor: pointer;
  width: initial;
}

input[type="reset"] {
  background-color: #ffea00;
  border: none;
  cursor: pointer;
  width: initial;
  font-size: 20px;
}

input[type="button"]:hover {
  background-color: #fff;
}
input[type="reset"]:hover {
  text-decoration: underline #000;
}

.discount-button {
  display: inline-block;
  font-size: 16px;
}
.discount-form {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-remove-checkout {
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: #555555;
}
@media (max-width: 1000px) {
  .flex-row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  input[type="button"] {
    font-size: 20px;
  }
  .flex-row .checkout-half {
    width: 100%;
    min-width: initial;
    padding: 15px;
  }
  .checkout-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  th {
    font-size: 20px;
  }
  td {
    font-size: 18px;
  }

  .discount-field{width: 100%;}
}
