@import url("https://use.typekit.net/zbs5tqq.css");
/*Logo font: font-family: battery-park, sans-serif; font-weight: 400; font-style: normal; */
/*Primary Header Font: font-family: burnaby-stencil, sans-serif; font-weight: 400; font-style: normal; */
/*Text font: font-family: rama-gothic-m, sans-serif;  font-weight: 400; font-style: normal; */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: rama-gothic-m, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

header {
  width: 100%;
  height: 200px;
  background-color: #ffea00;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border-bottom: #000 10px solid;
}

header,
footer {
  padding: 0px clamp(15px, 25vw, 150px);
}

h1 {
  font-size: 60px;
  font-family: burnaby-stencil, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  font-family: burnaby-stencil, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-size: 35px;
  font-family: burnaby-stencil, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  font-size: 30px;
  font-family: burnaby-stencil, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h5 {
  font-size: 25px;
  font-family: burnaby-stencil, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
h6 {
  font-size: 20px;
  font-family: burnaby-stencil, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

header h1 a {
  font-size: 80px;
  font-family: battery-park, sans-serif;
  text-decoration: none;
  color: #000;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 40px;
}

header nav ul li a {
  color: #000;
  text-decoration: none;
}
.cartIcon {
  position: relative;
}
.cartAmount {
  position: absolute;
  left: calc(100% + 15px);
  top: 2px;
  color: #ffea00;
  background-color: #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



footer {
  min-height: 500px;
  background-color: #000;
  color: #ffea00;
}